In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

In [2]:
data= pd.read_csv("D:\marlabs\Datasets\santander.csv")

In [3]:
data.shape

(76020, 371)

In [4]:
data.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

In [5]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(labels = ['TARGET'], axis = 1), data['TARGET'], test_size = 0.3, random_state = 123)

In [6]:
y_train.head()

31818    0
46129    0
35841    0
69412    0
68358    0
Name: TARGET, dtype: int64

In [7]:
# Constant Features
# std == 0
# 1,,1,1,1,1,1 std ==0
constant_features = [feat for feat in x_train.columns if x_train[feat].std() == 0]

In [8]:
x_train.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=370)

In [9]:
constant_features

['ind_var2_0',
 'ind_var2',
 'ind_var27_0',
 'ind_var28_0',
 'ind_var28',
 'ind_var27',
 'ind_var41',
 'ind_var46_0',
 'ind_var46',
 'num_var27_0',
 'num_var28_0',
 'num_var28',
 'num_var27',
 'num_var41',
 'num_var46_0',
 'num_var46',
 'saldo_var28',
 'saldo_var27',
 'saldo_var41',
 'saldo_var46',
 'delta_imp_reemb_var33_1y3',
 'delta_imp_trasp_var33_out_1y3',
 'delta_num_reemb_var33_1y3',
 'delta_num_trasp_var33_out_1y3',
 'imp_amort_var18_hace3',
 'imp_amort_var34_hace3',
 'imp_reemb_var13_hace3',
 'imp_reemb_var17_hace3',
 'imp_reemb_var33_hace3',
 'imp_reemb_var33_ult1',
 'imp_trasp_var17_out_hace3',
 'imp_trasp_var33_out_hace3',
 'imp_trasp_var33_out_ult1',
 'num_var2_0_ult1',
 'num_var2_ult1',
 'num_reemb_var13_hace3',
 'num_reemb_var17_hace3',
 'num_reemb_var33_hace3',
 'num_reemb_var33_ult1',
 'num_trasp_var17_out_hace3',
 'num_trasp_var33_out_hace3',
 'num_trasp_var33_out_ult1',
 'saldo_var2_ult1',
 'saldo_medio_var13_medio_hace3',
 'saldo_medio_var29_hace3']

In [10]:
x_train.shape,x_test.shape

((53214, 370), (22806, 370))

In [11]:
x_train.drop(labels = constant_features, axis = 1, inplace = True)

In [12]:
x_test.drop(labels = constant_features, axis = 1, inplace = True)

In [13]:
x_train.shape, x_test.shape

((53214, 325), (22806, 325))

In [14]:
# Remove Quasi Constant
sel = VarianceThreshold(threshold = 0.02)
sel.fit(x_train)

VarianceThreshold(threshold=0.02)

In [15]:
sum(sel.get_support())

258

In [16]:
features_to_keep = x_train.columns[sel.get_support()]

In [17]:
features_to_keep

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=258)

In [18]:
x_train = sel.transform(x_train)
x_test = sel.transform(x_test)

In [19]:
x_train.shape

(53214, 258)

In [21]:
x_train = pd.DataFrame(x_train)
x_train.columns = features_to_keep

x_test = pd.DataFrame(x_test)
x_test.columns = features_to_keep

In [22]:
range(0,len(x_train.columns))

range(0, 258)

In [23]:
x_train.columns[2]

'var15'

In [24]:
# check the duplicate
duplicate_feat = []
for i in range(0, len(x_train.columns)):
    col_1 = x_train.columns[i]
    
    for col_2 in x_train.columns[i +1:]:
        if x_train[col_1].equals(x_train[col_2]):
            duplicate_feat.append(col_2)

In [25]:
duplicate_feat

['ind_var26',
 'ind_var25',
 'ind_var37',
 'num_var26',
 'num_var25',
 'num_var32',
 'num_var37',
 'num_var39',
 'saldo_var29',
 'saldo_medio_var13_medio_ult1',
 'delta_num_reemb_var13_1y3',
 'delta_num_reemb_var17_1y3',
 'delta_num_trasp_var17_in_1y3',
 'delta_num_trasp_var17_out_1y3',
 'delta_num_trasp_var33_in_1y3']

In [26]:
## remove highly correlated features
corrmat = x_train.corr()

In [27]:
x_train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,63565.0,2.0,25.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95818.20
1,92298.0,2.0,27.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432550.68
2,71681.0,2.0,23.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177491.25
3,138622.0,2.0,24.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129806.46
4,136469.0,2.0,37.0,0.0,2962.89,3141.27,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105168.81

In [28]:
corrmat.shape

(258, 258)

In [29]:
corrmat.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
ID,1.000000,-0.003121,-0.001984,-0.001028,-0.000655,-0.001481,-0.005807,-0.005095,-0.006760,-0.005983,...,-0.007380,0.002444,0.000281,0.000205,0.000003,-0.002113,-0.008468,0.000658,0.001951,-0.005203
var3,-0.003121,1.000000,-0.001313,0.001637,0.004484,0.005638,0.001449,0.001618,0.000526,0.000617,...,0.000216,0.000710,0.000486,0.000696,0.000728,0.000526,0.000515,0.000649,0.000740,-0.000148
var15,-0.001984,-0.001313,1.000000,0.043001,0.095488,0.101421,0.045278,0.051805,0.008020,0.009445,...,0.012754,0.030038,0.018999,0.030034,0.030850,0.023671,0.022500,0.026934,0.031081,0.013213
imp_ent_var16_ult1,-0.001028,0.001637,0.043001,1.000000,0.040729,0.033930,0.007915,0.008499,-0.000306,0.000541,...,0.009535,-0.000832,-0.000644,-0.000643,-0.000710,-0.000649,-0.000586,0.003461,0.005803,0.000799
imp_op_var39_comer_ult1,-0.000655,0.004484,0.095488,0.040729,1.000000,0.892665,0.324838,0.282410,0.025278,0.049840,...,0.001861,0.011210,0.006729,0.011183,0.012853,0.002121,0.003954,0.007580,0.010286,0.016815

In [30]:
corrmat =  corrmat.abs().unstack() # -0.8 0.8
corrmat = corrmat.sort_values(ascending = False)
corrmat = corrmat[(corrmat < 1) & (corrmat > 0.8)]
corrmat = pd.DataFrame(corrmat).reset_index()
corrmat.columns = ['feature1', 'feature2', 'coor']
corrmat.head()

                     feature1                    feature2  coor
0   delta_num_aport_var33_1y3   delta_imp_aport_var33_1y3   1.0
1   delta_imp_aport_var33_1y3   delta_num_aport_var33_1y3   1.0
2   delta_num_aport_var17_1y3   delta_imp_aport_var17_1y3   1.0
3   delta_imp_aport_var17_1y3   delta_num_aport_var17_1y3   1.0
4  delta_imp_compra_var44_1y3  delta_num_compra_var44_1y3   1.0

In [31]:
corrmat.shape

(694, 3)