In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

In [3]:
data= pd.read_csv("D:\marlabs\Datasets\santander.csv")

In [4]:
data.shape

(76020, 371)

In [5]:
data.head(3)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

In [6]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(labels = ['TARGET'], axis = 1), data['TARGET'], test_size = 0.3, random_state = 123)

In [7]:
# Constant Features
# std == 0
# 1,,1,1,1,1,1 std ==0
constant_features = [feat for feat in x_train.columns if x_train[feat].std() == 0]

In [8]:
constant_features

['ind_var2_0',
 'ind_var2',
 'ind_var27_0',
 'ind_var28_0',
 'ind_var28',
 'ind_var27',
 'ind_var41',
 'ind_var46_0',
 'ind_var46',
 'num_var27_0',
 'num_var28_0',
 'num_var28',
 'num_var27',
 'num_var41',
 'num_var46_0',
 'num_var46',
 'saldo_var28',
 'saldo_var27',
 'saldo_var41',
 'saldo_var46',
 'delta_imp_reemb_var33_1y3',
 'delta_imp_trasp_var33_out_1y3',
 'delta_num_reemb_var33_1y3',
 'delta_num_trasp_var33_out_1y3',
 'imp_amort_var18_hace3',
 'imp_amort_var34_hace3',
 'imp_reemb_var13_hace3',
 'imp_reemb_var17_hace3',
 'imp_reemb_var33_hace3',
 'imp_reemb_var33_ult1',
 'imp_trasp_var17_out_hace3',
 'imp_trasp_var33_out_hace3',
 'imp_trasp_var33_out_ult1',
 'num_var2_0_ult1',
 'num_var2_ult1',
 'num_reemb_var13_hace3',
 'num_reemb_var17_hace3',
 'num_reemb_var33_hace3',
 'num_reemb_var33_ult1',
 'num_trasp_var17_out_hace3',
 'num_trasp_var33_out_hace3',
 'num_trasp_var33_out_ult1',
 'saldo_var2_ult1',
 'saldo_medio_var13_medio_hace3',
 'saldo_medio_var29_hace3']

In [9]:
x_train.drop(labels = constant_features, axis = 1, inplace = True)

In [10]:
x_test.drop(labels = constant_features, axis = 1, inplace = True)

In [11]:
x_train.shape, x_test.shape

((53214, 325), (22806, 325))

In [12]:
# Remove Quasi Constant
sel = VarianceThreshold(threshold = 0.02)
sel.fit(x_train)

VarianceThreshold(threshold=0.02)

In [13]:
sum(sel.get_support())

258

In [14]:
features_to_keep = x_train.columns[sel.get_support()]

In [15]:
features_to_keep

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=258)

In [16]:
x_train = sel.transform(x_train)
x_test = sel.transform(x_test)

In [17]:
x_train.shape

(53214, 258)

In [18]:
x_train = pd.DataFrame(x_train)
x_train.columns = features_to_keep

x_test = pd.DataFrame(x_test)
x_test.columns = features_to_keep

In [19]:
x_train.head(2)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,63565.0,2.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95818.20
1,92298.0,2.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432550.68

In [ ]:
# check the duplicate
duplicate_feat = []
for i in range(0, len(x_train.columns)):
    col_1 = x_train.columns[i]
    
    for col_2 in x_train.columns[i +1:]:
        if x_train[col_1].equals(x_train[col_2]):
            duplicate_feat.append(col_2)

In [ ]:
## remove highly correlated features
corrmat = x_train.corr()

In [ ]:
corrmat =  corrmat.abs().unstack() # -0.8 0.8
corrmat = corrmat.sort_values(ascending = False)
corrmat = corrmat[(corrmat < 1) & (corrmat > 0.8)]
corrmat = pd.DataFrame(corrmat).reset_index()
corrmat.columns = ['feature1', 'feature2', 'coor']
corrmat.head()