### Santander Customer Satisfaction
https://www.kaggle.com/c/santander-customer-satisfaction/data

**Filter Methods**:
1. constant
2. quasi-constant
3. duplicated

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

In [2]:
# load the Santander customer satisfaction dataset from Kaggle
data = pd.read_csv('D:\marlabs\Datasets\santander.csv')
data.shape

(76020, 371)

In [4]:
data.head(3)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

In [5]:
# Target variable will be "TARGET"
x_train, x_test, y_train, y_test = train_test_split(data.drop(labels = ['TARGET'], axis = 1), data['TARGET'], test_size = 0.3, random_state = 123)

#### Remove Constant Features

In [6]:
# Remove constant features (means -> standard deviation equals to 0)
constant_features = [feat for feat in x_train.columns if x_train[feat].std() == 0]

x_train.drop(labels=constant_features, axis=1, inplace=True)
x_test.drop(labels=constant_features, axis=1, inplace=True)

x_train.shape,x_test.shape

((53214, 325), (22806, 325))

#### Remove Quasi Constant Features

In [7]:
sel = VarianceThreshold(threshold=0.02)  # 0.1 indicates 99% of observations approximately

sel.fit(x_train)  # fit finds the features with low variance

sum(sel.get_support()) # how many not quasi-constant?

258

In [8]:
# Only keep these 258 features
features_to_keep = x_train.columns[sel.get_support()]

In [9]:
features_to_keep

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=258)

In [10]:
# we can then remove the features like this
x_train = sel.transform(x_train)
x_test = sel.transform(x_test)

x_train.shape, x_test.shape

((53214, 258), (22806, 258))

In [11]:
# sklearn transformations lead to numpy arrays
# here I transform the arrays back to dataframes
# please be mindful of getting the columns assigned
# correctly

x_train= pd.DataFrame(x_train)
x_train.columns = features_to_keep

x_test= pd.DataFrame(x_test)
x_test.columns = features_to_keep

In [12]:
# Check the duplicate feature
# Use two for loops to achieve this
duplicate_feat = []
for i in range(0, len(x_train.columns)):
    col_1 = x_train.columns[i]
    
    for col_2 in x_train.columns[i + 1:]:
        if x_train[col_1].equals(x_train[col_2]):
            duplicate_feat.append(col_2)

#### Remove Highly Correlated Features

In [13]:
# build a dataframe with the correlation between features
# remember that the absolute value of the correlation
# coefficient is important and not the sign

corrmat = x_train.corr()
corrmat = corrmat.abs().unstack() # absolute value of corr coef
corrmat = corrmat.sort_values(ascending=False)
corrmat = corrmat[(corrmat <1)& (corrmat > 0.8)]
corrmat = pd.DataFrame(corrmat).reset_index()
corrmat.columns = ['feature1', 'feature2', 'corr']
corrmat.head()

                     feature1                    feature2  corr
0   delta_num_aport_var33_1y3   delta_imp_aport_var33_1y3   1.0
1   delta_imp_aport_var33_1y3   delta_num_aport_var33_1y3   1.0
2   delta_num_aport_var17_1y3   delta_imp_aport_var17_1y3   1.0
3   delta_imp_aport_var17_1y3   delta_num_aport_var17_1y3   1.0
4  delta_imp_compra_var44_1y3  delta_num_compra_var44_1y3   1.0

In [17]:
corrmat.feature1.unique().shape

(198,)

.unstack() is a reshaping method. https://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

In [14]:
# find groups of correlated features

grouped_feature_ls = []
correlated_groups = []

for feature in corrmat.feature1.unique():
    if feature not in grouped_feature_ls:

        # find all features correlated to a single feature
        correlated_block = corrmat[corrmat.feature1 == feature]
        grouped_feature_ls = grouped_feature_ls + list(
            correlated_block.feature2.unique()) + [feature]

        # append the block of features to the list
        correlated_groups.append(correlated_block)

print('found {} correlated groups'.format(len(correlated_groups)))
print('out of {} total features'.format(x_train.shape[1]))

found 63 correlated groups
out of 258 total features

In [22]:
correlated_groups

[                    feature1                   feature2  corr
 0  delta_num_aport_var33_1y3  delta_imp_aport_var33_1y3   1.0,
                     feature1                   feature2  corr
 2  delta_num_aport_var17_1y3  delta_imp_aport_var17_1y3   1.0,
                      feature1                    feature2  corr
 4  delta_imp_compra_var44_1y3  delta_num_compra_var44_1y3   1.0,
                       feature1                   feature2     corr
 6    delta_num_aport_var13_1y3  delta_imp_aport_var13_1y3  1.00000
 555  delta_num_aport_var13_1y3       num_aport_var13_ult1  0.85526,
                 feature1                   feature2      corr
 8   imp_amort_var18_ult1  delta_imp_amort_var18_1y3  1.000000
 83  imp_amort_var18_ult1                 saldo_var1  0.987674,
        feature1                   feature2      corr
 11  saldo_var18  delta_imp_amort_var18_1y3  1.000000
 84  saldo_var18                 saldo_var1  0.987674,
         feature1                 feature2      corr
 12   saldo_var33   saldo_medio_var33_ult1  0.999911
 124  saldo_var33   saldo_medio_var33_ult3  0.983046
 621  saldo_var33  saldo_medio_var33_hace2  0.833282,
        feature1             feature2      corr
 14   num_var8_0           ind_var8_0  0.999705
 279  num_var8_0             ind_var8  0.930883
 281  num_var8_0             num_var8  0.930883
 493  num_var8_0           ind_var5_0  0.870281
 501  num_var8_0  num_meses_var8_ult3  0.867273
 690  num_var8_0           num_var5_0  0.801964,
             feature1                    feature2      corr
 16   num_var13_corto             ind_var13_corto  0.999521
 127  num_var13_corto           ind_var13_corto_0  0.982861
 147  num_var13_corto           num_var13_corto_0  0.978656
 207  num_var13_corto  num_meses_var13_corto_ult3  0.956704
 390  num_var13_corto                   ind_var13  0.896938
 421  num_var13_corto                 ind_var13_0  0.884436
 578  num_var13_corto                   num_var13  0.846060
 643  num_var13_corto                 num_var13_0  0.822453,
       feature1              feature2      corr
 18   ind_var24             num_var24  0.999237
 236  ind_var24           ind_var24_0  0.946540
 253  ind_var24           num_var24_0  0.944871
 326  ind_var24             ind_var12  0.910885
 347  ind_var24             num_var12  0.904250
 440  ind_var24  num_meses_var12_ult3  0.881085,
                     feature1                 feature2      corr
 20   num_op_var39_efect_ult3  num_op_var41_efect_ult3  0.999216
 384  num_op_var39_efect_ult3  num_op_var41_efect_ult1  0.898383
 387  num_op_var39_efect_ult3  num_op_var39_efect_ult1  0.898361,
                    feature1                 feature2    corr
 22  imp_op_var39_efect_ult3  imp_op_var41_efect_ult3  0.9992,
                     feature1                 feature2      corr
 24   saldo_medio_var17_hace3    imp_aport_var17_hace3  0.999040
 50   saldo_medio_var17_hace3  saldo_medio_var17_hace2  0.996424
 101  saldo_medio_var17_hace3              saldo_var17  0.985931
 108  saldo_medio_var17_hace3   saldo_medio_var17_ult3  0.985130
 145  saldo_medio_var17_hace3   saldo_medio_var17_ult1  0.979631
 176  saldo_medio_var17_hace3              saldo_var31  0.969396,
         feature1                 feature2      corr
 34   saldo_var24              saldo_var12  0.997967
 104  saldo_var24   saldo_medio_var12_ult1  0.985528
 151  saldo_var24              saldo_var42  0.978127
 169  saldo_var24   saldo_medio_var12_ult3  0.971762
 397  saldo_var24  saldo_medio_var12_hace2  0.895867,
                     feature1                 feature2      corr
 36   imp_op_var41_efect_ult1  imp_op_var39_efect_ult1  0.997846
 422  imp_op_var41_efect_ult1        imp_op_var41_ult1  0.884396
 477  imp_op_var41_efect_ult1        imp_op_var39_ult1  0.875293,
            feature1            feature2      corr
 38   num_var45_ult3  num_med_var45_ult3  0.997780
 336  num_var45_ult3     num_var45_hace2  0.909807
 485  num_var45_ult3      num_var45_ult1  0.871987,
       feature1     feature2      corr
 42  num_var1_0  num_var40_0  0.997694,
                          feature1                       feature2      corr
 44   saldo_medio_var13_medio_ult3   saldo_medio_var13_medio_ult1  0.997011
 47   saldo_medio_var13_medio_ult3              saldo_var13_medio  0.997011
 190  saldo_medio_var13_medio_ult3  saldo_medio_var13_medio_hace2  0.967345,
      feature1             feature2      corr
 54   ind_var5             num_var5  0.993333
 334  ind_var5  num_meses_var5_ult3  0.910126
 570  ind_var5            ind_var30  0.849102
 625  ind_var5            num_var42  0.831362,
                    feature1                feature2      corr
 56   saldo_medio_var29_ult3              saldo_var6  0.992844
 59   saldo_medio_var29_ult3             saldo_var29  0.992844
 132  saldo_medio_var29_ult3  saldo_medio_var29_ult1  0.981806,
     feature1   feature2      corr
 60  num_var1  num_var40  0.992676
 61  num_var1  num_var39  0.992676,
                feature1            feature2      corr
 64   num_op_var39_hace2  num_op_var41_hace2  0.991932
 508  num_op_var39_hace2   num_op_var39_ult3  0.865400
 532  num_op_var39_hace2   num_op_var41_ult3  0.858143,
                          feature1                       feature2      corr
 66   saldo_medio_var13_corto_ult1              saldo_var13_corto  0.991804
 81   saldo_medio_var13_corto_ult1   saldo_medio_var13_corto_ult3  0.988485
 307  saldo_medio_var13_corto_ult1  saldo_medio_var13_corto_hace2  0.919279
 592  saldo_medio_var13_corto_ult1                    saldo_var13  0.842334,
         feature1                  feature2      corr
 76   ind_var41_0               ind_var39_0  0.989442
 328  ind_var41_0               num_var41_0  0.910783
 478  ind_var41_0               num_var39_0  0.873907
 686  ind_var41_0  num_meses_var39_vig_ult3  0.802552,
                  feature1                   feature2      corr
 78   imp_amort_var34_ult1                saldo_var34  0.989083
 531  imp_amort_var34_ult1  delta_imp_amort_var34_1y3  0.858474,
                          feature1                       feature2      corr
 94   saldo_medio_var13_largo_ult1   saldo_medio_var13_largo_ult3  0.986880
 339  saldo_medio_var13_largo_ult1  saldo_medio_var13_largo_hace2  0.909011
 657  saldo_medio_var13_largo_ult1              saldo_var13_largo  0.812589,
                feature1            feature2      corr
 102  num_op_var39_hace3  num_op_var41_hace3  0.985698,
               feature1                 feature2      corr
 112  num_op_var39_ult1        num_op_var41_ult1  0.984232
 263  num_op_var39_ult1        num_op_var39_ult3  0.933200
 266  num_op_var39_ult1  num_op_var39_comer_ult1  0.932729
 291  num_op_var39_ult1  num_op_var41_comer_ult1  0.926566
 313  num_op_var39_ult1        num_op_var41_ult3  0.918368
 587  num_op_var39_ult1  num_op_var41_comer_ult3  0.843156
 618  num_op_var39_ult1  num_op_var39_comer_ult3  0.833723,
      feature1   feature2     corr
 114  num_var4  num_var35  0.98394,
         feature1     feature2      corr
 128  saldo_var26  saldo_var25  0.982304,
             feature1           feature2      corr
 134  num_var13_largo  num_var13_largo_0  0.981706,
         feature1       feature2      corr
 152  ind_var26_0      ind_var25  0.977312
 154  ind_var26_0    ind_var25_0  0.977312
 231  ind_var26_0  ind_var26_cte  0.947886
 287  ind_var26_0  ind_var25_cte  0.926577
 360  ind_var26_0    num_var26_0  0.903383
 361  ind_var26_0      num_var26  0.903383
 428  ind_var26_0      num_var25  0.883521
 430  ind_var26_0    num_var25_0  0.883521,
       feature1       feature2      corr
 153  ind_var26    ind_var25_0  0.977312
 157  ind_var26      ind_var25  0.977312
 232  ind_var26  ind_var26_cte  0.947886
 286  ind_var26  ind_var25_cte  0.926577
 365  ind_var26      num_var26  0.903383
 367  ind_var26    num_var26_0  0.903383
 429  ind_var26    num_var25_0  0.883521
 434  ind_var26      num_var25  0.883521,
                    feature1                 feature2      corr
 162  saldo_medio_var44_ult1   saldo_medio_var44_ult3  0.973479
 444  saldo_medio_var44_ult1              saldo_var44  0.880237
 483  saldo_medio_var44_ult1  saldo_medio_var44_hace2  0.872425,
               feature1           feature2      corr
 170  ind_var10cte_ult1  ind_var9_cte_ult1  0.970403
 265  ind_var10cte_ult1     ind_var10_ult1  0.932889
 358  ind_var10cte_ult1      ind_var9_ult1  0.903515
 457  ind_var10cte_ult1      ind_var37_cte  0.878559
 628  ind_var10cte_ult1          ind_var37  0.831245
 629  ind_var10cte_ult1        ind_var37_0  0.831245,
                     feature1                 feature2      corr
 196  imp_op_var41_comer_ult1  imp_op_var39_comer_ult1  0.960930
 406  imp_op_var41_comer_ult1  imp_op_var41_comer_ult3  0.892556
 549  imp_op_var41_comer_ult1  imp_op_var39_comer_ult3  0.855504,
               feature1           feature2      corr
 202  num_op_var40_ult1  num_op_var40_ult3  0.958992,
            feature1            feature2      corr
 222  num_var22_ult3  num_med_var22_ult3  0.949472,
                   feature1               feature2      corr
 234  saldo_medio_var8_ult1  saldo_medio_var8_ult3  0.946637
 261  saldo_medio_var8_ult1             saldo_var8  0.933556,
       feature1            feature2      corr
 270  num_var37  num_var37_med_ult2  0.931603,
         feature1            feature2      corr
 273  num_var37_0  num_var37_med_ult2  0.931603,
         feature1     feature2      corr
 310  num_var31_0  num_var17_0  0.918389
 521  num_var31_0    num_var31  0.861266,
         feature1     feature2      corr
 316  num_var12_0  num_var42_0  0.916934
 574  num_var12_0  ind_var12_0  0.847049
 693  num_var12_0  num_var30_0  0.800709,
                     feature1                 feature2      corr
 370  num_op_var40_comer_ult1  num_op_var40_comer_ult3  0.900705,
                     feature1                 feature2      corr
 372  imp_op_var40_efect_ult3  num_op_var40_efect_ult3  0.900086
 394  imp_op_var40_efect_ult3  imp_op_var40_efect_ult1  0.896215
 669  imp_op_var40_efect_ult3  num_op_var40_efect_ult1  0.811059,
       feature1   feature2      corr
 374  num_var30  num_var42  0.899904
 470  num_var30  ind_var30  0.876202,
                   feature1              feature2      corr
 380  imp_compra_var44_ult1  imp_venta_var44_ult1  0.898872,
       feature1     feature2      corr
 416  num_var17    num_var31  0.887098
 602  num_var17  num_var17_0  0.837448,
                          feature1                 feature2      corr
 448  delta_num_trasp_var17_in_1y3  imp_trasp_var17_in_ult1  0.879842,
                          feature1                 feature2      corr
 450  delta_imp_trasp_var17_in_1y3  imp_trasp_var17_in_ult1  0.879842,
               feature1     feature2      corr
 496  imp_op_var40_ult1  saldo_var40  0.869457,
                feature1           feature2     corr
 507  num_op_var40_hace2  num_op_var40_ult3  0.86545,
                     feature1                 feature2      corr
 512  imp_op_var40_comer_ult3  imp_op_var40_comer_ult1  0.865226,
         feature1   feature2     corr
 534  num_var20_0  num_var20  0.85767,
       feature1     feature2      corr
 560  num_var32  saldo_var32  0.854028,
         feature1     feature2      corr
 562  num_var32_0  saldo_var32  0.854028,
        feature1               feature2      corr
 564  saldo_var5  saldo_medio_var5_ult1  0.853478,
                          feature1                 feature2      corr
 588  delta_imp_trasp_var33_in_1y3  imp_trasp_var33_in_ult1  0.843125,
                          feature1                 feature2      corr
 589  delta_num_trasp_var33_in_1y3  imp_trasp_var33_in_ult1  0.843125,
                      feature1                       feature2      corr
 612  imp_trasp_var17_out_ult1  delta_imp_trasp_var17_out_1y3  0.834772
 613  imp_trasp_var17_out_ult1  delta_num_trasp_var17_out_1y3  0.834772,
                   feature1               feature2      corr
 639  saldo_medio_var5_ult3  saldo_medio_var5_ult1  0.824718,
                  feature1                   feature2      corr
 660  imp_reemb_var13_ult1  delta_num_reemb_var13_1y3  0.812225
 662  imp_reemb_var13_ult1  delta_imp_reemb_var13_1y3  0.812225,
         feature1     feature2      corr
 684  saldo_var30  saldo_var42  0.802912]

In [23]:
# now we can visualise each group. We see that some groups contain
# only 2 correlated features, some other groups present several features 
# that are correlated among themselves.

for group in correlated_groups:
    print(group)
    print()

                    feature1                   feature2  corr
0  delta_num_aport_var33_1y3  delta_imp_aport_var33_1y3   1.0

                    feature1                   feature2  corr
2  delta_num_aport_var17_1y3  delta_imp_aport_var17_1y3   1.0

                     feature1                    feature2  corr
4  delta_imp_compra_var44_1y3  delta_num_compra_var44_1y3   1.0

                      feature1                   feature2     corr
6    delta_num_aport_var13_1y3  delta_imp_aport_var13_1y3  1.00000
555  delta_num_aport_var13_1y3       num_aport_var13_ult1  0.85526

                feature1                   feature2      corr
8   imp_amort_var18_ult1  delta_imp_amort_var18_1y3  1.000000
83  imp_amort_var18_ult1                 saldo_var1  0.987674

       feature1                   feature2      corr
11  saldo_var18  delta_imp_amort_var18_1y3  1.000000
84  saldo_var18                 saldo_var1  0.987674

        feature1                 feature2      corr
12   saldo_var33   saldo_medio_var33_ult1  0.999911
124  saldo_var33   saldo_medio_var33_ult3  0.983046
621  saldo_var33  saldo_medio_var33_hace2  0.833282

       feature1             feature2      corr
14   num_var8_0           ind_var8_0  0.999705
279  num_var8_0             ind_var8  0.930883
281  num_var8_0             num_var8  0.930883
493  num_var8_0           ind_var5_0  0.870281
501  num_var8_0  num_meses_var8_ult3  0.867273
690  num_var8_0           num_var5_0  0.801964

            feature1                    feature2      corr
16   num_var13_corto             ind_var13_corto  0.999521
127  num_var13_corto           ind_var13_corto_0  0.982861
147  num_var13_corto           num_var13_corto_0  0.978656
207  num_var13_corto  num_meses_var13_corto_ult3  0.956704
390  num_var13_corto                   ind_var13  0.896938
421  num_var13_corto                 ind_var13_0  0.884436
578  num_var13_corto                   num_var13  0.846060
643  num_var13_corto                 num_var13_0  0.822453

      feature1              feature2      corr
18   ind_var24             num_var24  0.999237
236  ind_var24           ind_var24_0  0.946540
253  ind_var24           num_var24_0  0.944871
326  ind_var24             ind_var12  0.910885
347  ind_var24             num_var12  0.904250
440  ind_var24  num_meses_var12_ult3  0.881085

                    feature1                 feature2      corr
20   num_op_var39_efect_ult3  num_op_var41_efect_ult3  0.999216
384  num_op_var39_efect_ult3  num_op_var41_efect_ult1  0.898383
387  num_op_var39_efect_ult3  num_op_var39_efect_ult1  0.898361

                   feature1                 feature2    corr
22  imp_op_var39_efect_ult3  imp_op_var41_efect_ult3  0.9992

                    feature1                 feature2      corr
24   saldo_medio_var17_hace3    imp_aport_var17_hace3  0.999040
50   saldo_medio_var17_hace3  saldo_medio_var17_hace2  0.996424
101  saldo_medio_var17_hace3              saldo_var17  0.985931
108  saldo_medio_var17_hace3   saldo_medio_var17_ult3  0.985130
145  saldo_medio_var17_hace3   saldo_medio_var17_ult1  0.979631
176  saldo_medio_var17_hace3              saldo_var31  0.969396

        feature1                 feature2      corr
34   saldo_var24              saldo_var12  0.997967
104  saldo_var24   saldo_medio_var12_ult1  0.985528
151  saldo_var24              saldo_var42  0.978127
169  saldo_var24   saldo_medio_var12_ult3  0.971762
397  saldo_var24  saldo_medio_var12_hace2  0.895867

                    feature1                 feature2      corr
36   imp_op_var41_efect_ult1  imp_op_var39_efect_ult1  0.997846
422  imp_op_var41_efect_ult1        imp_op_var41_ult1  0.884396
477  imp_op_var41_efect_ult1        imp_op_var39_ult1  0.875293

           feature1            feature2      corr
38   num_var45_ult3  num_med_var45_ult3  0.997780
336  num_var45_ult3     num_var45_hace2  0.909807
485  num_var45_ult3      num_var45_ult1  0.871987

      feature1     feature2      corr
42  num_var1_0  num_var40_0  0.997694

                         feature1                       feature2      corr
44   saldo_medio_var13_medio_ult3   saldo_medio_var13_medio_ult1  0.997011
47   saldo_medio_var13_medio_ult3              saldo_var13_medio  0.997011
190  saldo_medio_var13_medio_ult3  saldo_medio_var13_medio_hace2  0.967345

     feature1             feature2      corr
54   ind_var5             num_var5  0.993333
334  ind_var5  num_meses_var5_ult3  0.910126
570  ind_var5            ind_var30  0.849102
625  ind_var5            num_var42  0.831362

                   feature1                feature2      corr
56   saldo_medio_var29_ult3              saldo_var6  0.992844
59   saldo_medio_var29_ult3             saldo_var29  0.992844
132  saldo_medio_var29_ult3  saldo_medio_var29_ult1  0.981806

    feature1   feature2      corr
60  num_var1  num_var40  0.992676
61  num_var1  num_var39  0.992676

               feature1            feature2      corr
64   num_op_var39_hace2  num_op_var41_hace2  0.991932
508  num_op_var39_hace2   num_op_var39_ult3  0.865400
532  num_op_var39_hace2   num_op_var41_ult3  0.858143

                         feature1                       feature2      corr
66   saldo_medio_var13_corto_ult1              saldo_var13_corto  0.991804
81   saldo_medio_var13_corto_ult1   saldo_medio_var13_corto_ult3  0.988485
307  saldo_medio_var13_corto_ult1  saldo_medio_var13_corto_hace2  0.919279
592  saldo_medio_var13_corto_ult1                    saldo_var13  0.842334

        feature1                  feature2      corr
76   ind_var41_0               ind_var39_0  0.989442
328  ind_var41_0               num_var41_0  0.910783
478  ind_var41_0               num_var39_0  0.873907
686  ind_var41_0  num_meses_var39_vig_ult3  0.802552

                 feature1                   feature2      corr
78   imp_amort_var34_ult1                saldo_var34  0.989083
531  imp_amort_var34_ult1  delta_imp_amort_var34_1y3  0.858474

                         feature1                       feature2      corr
94   saldo_medio_var13_largo_ult1   saldo_medio_var13_largo_ult3  0.986880
339  saldo_medio_var13_largo_ult1  saldo_medio_var13_largo_hace2  0.909011
657  saldo_medio_var13_largo_ult1              saldo_var13_largo  0.812589

               feature1            feature2      corr
102  num_op_var39_hace3  num_op_var41_hace3  0.985698

              feature1                 feature2      corr
112  num_op_var39_ult1        num_op_var41_ult1  0.984232
263  num_op_var39_ult1        num_op_var39_ult3  0.933200
266  num_op_var39_ult1  num_op_var39_comer_ult1  0.932729
291  num_op_var39_ult1  num_op_var41_comer_ult1  0.926566
313  num_op_var39_ult1        num_op_var41_ult3  0.918368
587  num_op_var39_ult1  num_op_var41_comer_ult3  0.843156
618  num_op_var39_ult1  num_op_var39_comer_ult3  0.833723

     feature1   feature2     corr
114  num_var4  num_var35  0.98394

        feature1     feature2      corr
128  saldo_var26  saldo_var25  0.982304

            feature1           feature2      corr
134  num_var13_largo  num_var13_largo_0  0.981706

        feature1       feature2      corr
152  ind_var26_0      ind_var25  0.977312
154  ind_var26_0    ind_var25_0  0.977312
231  ind_var26_0  ind_var26_cte  0.947886
287  ind_var26_0  ind_var25_cte  0.926577
360  ind_var26_0    num_var26_0  0.903383
361  ind_var26_0      num_var26  0.903383
428  ind_var26_0      num_var25  0.883521
430  ind_var26_0    num_var25_0  0.883521

      feature1       feature2      corr
153  ind_var26    ind_var25_0  0.977312
157  ind_var26      ind_var25  0.977312
232  ind_var26  ind_var26_cte  0.947886
286  ind_var26  ind_var25_cte  0.926577
365  ind_var26      num_var26  0.903383
367  ind_var26    num_var26_0  0.903383
429  ind_var26    num_var25_0  0.883521
434  ind_var26      num_var25  0.883521

                   feature1                 feature2      corr
162  saldo_medio_var44_ult1   saldo_medio_var44_ult3  0.973479
444  saldo_medio_var44_ult1              saldo_var44  0.880237
483  saldo_medio_var44_ult1  saldo_medio_var44_hace2  0.872425

              feature1           feature2      corr
170  ind_var10cte_ult1  ind_var9_cte_ult1  0.970403
265  ind_var10cte_ult1     ind_var10_ult1  0.932889
358  ind_var10cte_ult1      ind_var9_ult1  0.903515
457  ind_var10cte_ult1      ind_var37_cte  0.878559
628  ind_var10cte_ult1          ind_var37  0.831245
629  ind_var10cte_ult1        ind_var37_0  0.831245

                    feature1                 feature2      corr
196  imp_op_var41_comer_ult1  imp_op_var39_comer_ult1  0.960930
406  imp_op_var41_comer_ult1  imp_op_var41_comer_ult3  0.892556
549  imp_op_var41_comer_ult1  imp_op_var39_comer_ult3  0.855504

              feature1           feature2      corr
202  num_op_var40_ult1  num_op_var40_ult3  0.958992

           feature1            feature2      corr
222  num_var22_ult3  num_med_var22_ult3  0.949472

                  feature1               feature2      corr
234  saldo_medio_var8_ult1  saldo_medio_var8_ult3  0.946637
261  saldo_medio_var8_ult1             saldo_var8  0.933556

      feature1            feature2      corr
270  num_var37  num_var37_med_ult2  0.931603

        feature1            feature2      corr
273  num_var37_0  num_var37_med_ult2  0.931603

        feature1     feature2      corr
310  num_var31_0  num_var17_0  0.918389
521  num_var31_0    num_var31  0.861266

        feature1     feature2      corr
316  num_var12_0  num_var42_0  0.916934
574  num_var12_0  ind_var12_0  0.847049
693  num_var12_0  num_var30_0  0.800709

                    feature1                 feature2      corr
370  num_op_var40_comer_ult1  num_op_var40_comer_ult3  0.900705

                    feature1                 feature2      corr
372  imp_op_var40_efect_ult3  num_op_var40_efect_ult3  0.900086
394  imp_op_var40_efect_ult3  imp_op_var40_efect_ult1  0.896215
669  imp_op_var40_efect_ult3  num_op_var40_efect_ult1  0.811059

      feature1   feature2      corr
374  num_var30  num_var42  0.899904
470  num_var30  ind_var30  0.876202

                  feature1              feature2      corr
380  imp_compra_var44_ult1  imp_venta_var44_ult1  0.898872

      feature1     feature2      corr
416  num_var17    num_var31  0.887098
602  num_var17  num_var17_0  0.837448

                         feature1                 feature2      corr
448  delta_num_trasp_var17_in_1y3  imp_trasp_var17_in_ult1  0.879842

                         feature1                 feature2      corr
450  delta_imp_trasp_var17_in_1y3  imp_trasp_var17_in_ult1  0.879842

              feature1     feature2      corr
496  imp_op_var40_ult1  saldo_var40  0.869457

               feature1           feature2     corr
507  num_op_var40_hace2  num_op_var40_ult3  0.86545

                    feature1                 feature2      corr
512  imp_op_var40_comer_ult3  imp_op_var40_comer_ult1  0.865226

        feature1   feature2     corr
534  num_var20_0  num_var20  0.85767

      feature1     feature2      corr
560  num_var32  saldo_var32  0.854028

        feature1     feature2      corr
562  num_var32_0  saldo_var32  0.854028

       feature1               feature2      corr
564  saldo_var5  saldo_medio_var5_ult1  0.853478

                         feature1                 feature2      corr
588  delta_imp_trasp_var33_in_1y3  imp_trasp_var33_in_ult1  0.843125

                         feature1                 feature2      corr
589  delta_num_trasp_var33_in_1y3  imp_trasp_var33_in_ult1  0.843125

                     feature1                       feature2      corr
612  imp_trasp_var17_out_ult1  delta_imp_trasp_var17_out_1y3  0.834772
613  imp_trasp_var17_out_ult1  delta_num_trasp_var17_out_1y3  0.834772

                  feature1               feature2      corr
639  saldo_medio_var5_ult3  saldo_medio_var5_ult1  0.824718

                 feature1                   feature2      corr
660  imp_reemb_var13_ult1  delta_num_reemb_var13_1y3  0.812225
662  imp_reemb_var13_ult1  delta_imp_reemb_var13_1y3  0.812225

        feature1     feature2      corr
684  saldo_var30  saldo_var42  0.802912

In [32]:
# we can now investigate further features within one group.
# let's for example select group 9

group = correlated_groups[6]
group

        feature1                 feature2      corr
12   saldo_var33   saldo_medio_var33_ult1  0.999911
124  saldo_var33   saldo_medio_var33_ult3  0.983046
621  saldo_var33  saldo_medio_var33_hace2  0.833282

In [26]:
group

        feature1                 feature2      corr
12   saldo_var33   saldo_medio_var33_ult1  0.999911
124  saldo_var33   saldo_medio_var33_ult3  0.983046
621  saldo_var33  saldo_medio_var33_hace2  0.833282

In [34]:
# we could select the features with less missing data
# like this:

for feature in list(group.feature2.unique())+['num_var13_corto']:
    print(x_train[feature].isnull().sum())

0
0
0
0

There's no missing values here. <br/>
Alternatively, we could build a machine learning algorithm using all the features from the above list, and select the more predictive one.

In [35]:
from sklearn.ensemble import RandomForestClassifier

features = list(group.feature2.unique())+['num_var13_corto']
rf = RandomForestClassifier(n_estimators=200, random_state=39, max_depth=4)
rf.fit(x_train[features].fillna(0), y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=39, verbose=0, warm_start=False)

In [36]:
features

['saldo_medio_var33_ult1',
 'saldo_medio_var33_ult3',
 'saldo_medio_var33_hace2',
 'num_var13_corto']

In [37]:
# we get the feature importance attributed by the 
# random forest model (more on this in coming lectures)

importance = pd.concat(
    [pd.Series(features),
     pd.Series(rf.feature_importances_)], axis=1)

importance.columns = ['feature', 'importance']
importance.sort_values(by='importance', ascending=False)

                   feature  importance
3          num_var13_corto    0.978335
0   saldo_medio_var33_ult1    0.009707
1   saldo_medio_var33_ult3    0.009084
2  saldo_medio_var33_hace2    0.002873

In this case, feature num_var13_0 shows the higher importance according to random forests. Then, I would select num_var13_0, and remove all the remaining features from this group from the dataset.