In [1]:
x=3

In [2]:
y=float(x)

In [3]:
y

3.0

In [4]:
x

3

In [5]:
x=123.485725

In [6]:
import math

In [9]:
x=round(x,3)

In [10]:
x

123.486

In [11]:
s='Sru\nja\tna'

In [13]:
print(s)

Sru
ja	na

In [15]:
print("a\nb\x1f\000d")

a
b d

In [16]:
s='hi how r u ghtf'

In [24]:
s[1::3]

'ior t'

In [25]:
s.replace('gh','tf')

'hi how r u tftf'

In [27]:
s.find('ow')

4

In [40]:
x=["sunny",'how','are']

In [41]:
y=' '.join(x)

In [42]:
y

'sunny how are'

In [43]:
var = """ This document will help you to explore all the concepts of Python Strings!!! """

In [45]:
var[7:-4]

'ocument will help you to explore all the concepts of Python Strings'

In [46]:
var.replace('document','task')

' This task will help you to explore all the concepts of Python Strings!!! '

In [49]:
print(var.split())

['This', 'document', 'will', 'help', 'you', 'to', 'explore', 'all', 'the', 'concepts', 'of', 'Python', 'Strings!!!']

In [50]:
var.lower()

' this document will help you to explore all the concepts of python strings!!! '

In [52]:
' '.join(x for x in var if x.isalpha())

'T h i s d o c u m e n t w i l l h e l p y o u t o e x p l o r e a l l t h e c o n c e p t s o f P y t h o n S t r i n g s'

In [53]:
var.isalpha()

False

In [55]:
list1=['kol','mum','del']

In [54]:
var.endswith('s')

False

In [60]:
list1.extend(['hyd','bang'])

In [61]:
list1

['kol', 'mum', 'del', ['hyd', 'bang'], 'hyd', 'bang']

In [65]:
list1.remove(['hyd','bang'])

In [66]:
list1

['del', 'kol', 'mum', 'hyd', 'bang']

In [67]:
list1.sort()

In [68]:
list1

['bang', 'del', 'hyd', 'kol', 'mum']

In [70]:
sorted(list1)

['bang', 'del', 'hyd', 'kol', 'mum']

In [73]:
list1.index('hyd')

2

In [76]:
list1.insert(2,'pvc')

In [77]:
list1

['bang', 'del', 'pvc', 'hyd', 'kol', 'mum']

In [78]:
del list1[0]

In [79]:
list1

['del', 'pvc', 'hyd', 'kol', 'mum']

In [80]:
del list1[1:]

In [81]:
list1

['del']

In [83]:
dict1={'a':'apple','b':'ball','c':'cat'}

In [84]:
dict1['a']

'apple'

In [85]:
dict1.get('a')

'apple'

In [90]:
dict1.items()

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat')])

In [89]:
dict1.keys()

dict_keys(['a', 'b', 'c'])

In [92]:
dict1.values()

dict_values(['apple', 'ball', 'cat'])

In [100]:
x={zip(['a','b','c'],[1,2,3])}

In [101]:
print(x)

{<zip object at 0x00000053EA227948>}

In [119]:
list(range(4,20,4))

[4, 8, 12, 16]

In [112]:
D

{0: True, 4: True, 8: True, 12: True, 16: True}

In [120]:
d={c:c*4 for c in [1,2,3,4]}

In [121]:
d

{1: 4, 2: 8, 3: 12, 4: 16}

In [122]:
d[1]

4

In [123]:
d[1]=35

In [124]:
d

{1: 35, 2: 8, 3: 12, 4: 16}

In [125]:
d1={3:24}

In [126]:
d.update(d1)

In [127]:
d

{1: 35, 2: 8, 3: 24, 4: 16}

In [128]:
d1

{3: 24}

In [129]:
d1.update(d)

In [130]:
d1

{3: 24, 1: 35, 2: 8, 4: 16}

In [131]:
[1,2]*4

[1, 2, 1, 2, 1, 2, 1, 2]

In [134]:
list=[1,2]
for i in list:
    r=2*i
    print(r)

2
4

In [137]:
t=(1,2,3)
for i in t:
    r=i*2
    print(r)

2
4
6

In [139]:
(for t[0] )

1

In [163]:
t=(1,2,3)

In [166]:
l=list(t)

In [169]:
l[0]=4

In [170]:
l

[4, 2, 3]

In [150]:
list

list

In [171]:
tempe=43
if tempe>42:
    print('its very hot')
else:
    print('its cool')

its very hot

In [175]:
fact=1
n=5
i=1
while i<=n:
    fact=fact*i
    i=i+1
print('Factorial:',fact)

Factorial: 120

In [178]:
print('we have 5 pounds of Guavas')
number=input('How many persons to be shared:')
number=int(number)
try:
    share=5/number
    print('Each memmber will get',share,'pounds of guavas')
except:
    print('Divisible error')

we have 5 pounds of Guavas
How many persons to be shared:0
Divisible error

In [208]:
for i in range(3,10):
    x += i
print(x)

214

In [200]:
r += 2

In [188]:
r

22

In [196]:
x=1
x+=3

In [197]:
x

4

In [209]:
import re

In [211]:
from functools import reduce

In [218]:
(lambda x,y:x*y)(3,4)

12

In [219]:
reduce(lambda x,y:x*y,[2,3,4,5])

120

In [222]:
x=range(20)
list(filter(lambda c: c%2==0,x))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [223]:
import math

In [226]:
def function1(number):
    result=math.sqrt(number)
    print(result)

In [227]:
function1(4)

2.0

In [237]:
number=[4]
list(map(lambda x: math.sqrt(x),number))

[2.0]

In [239]:
import pandas as pd

In [240]:
ser=pd.Series([1,2.3,'sru'])

In [241]:
ser

0      1
1    2.3
2    sru
dtype: object

In [243]:
data=pd.read_csv(r'D:\marlabs\Datasets\beer.csv')

In [245]:
data.head(5)

     Month  Monthly beer production
0  1956-01                     93.2
1  1956-02                     96.0
2  1956-03                     95.2
3  1956-04                     77.1
4  1956-05                     70.9

In [255]:
data.loc[[0,1,4],'Month']

0    1956-01
1    1956-02
4    1956-05
Name: Month, dtype: object

In [259]:
data.mean(axis=0)

Monthly beer production    136.395378
dtype: float64

In [260]:
data.corr()

                         Monthly beer production
Monthly beer production                      1.0

In [261]:
data.count()

Month                      476
Monthly beer production    476
dtype: int64

In [262]:
1+2+4

7

In [263]:
7/4

1.75

In [264]:
0.5+1+2

3.5

In [265]:
3.5/4

0.875

In [266]:
(1-1.75)+(2-1.75)+(4-1.75)

1.75

In [267]:
(0.5-0.875)+(1-0.875)+(2-0.875)

0.875

In [268]:
1.75*0.875

1.53125

In [269]:
1.75**2

3.0625

In [270]:
1.53125/3.0628

0.4999510252056941

In [272]:
y=0.5
x=1
b=0.5
a=y-b*x
print(a)

0.0

In [273]:
-1+0.5*4

1.0