In [83]:
import copy
import pandas
import numpy

In [55]:
l=[1,2,3,4,[5,6,7]]

In [56]:
m=copy.deepcopy(l)

In [57]:
m

[1, 2, 3, 4, [5, 6, 7]]

In [58]:
l[0]=11

In [61]:
l[4][0]=35

In [62]:
m

[1, 2, 3, 4, [5, 6, 7]]

In [63]:
m[4][1]=49

In [64]:
l

[11, 2, 3, 4, [35, 6, 7]]

In [65]:
m

[1, 2, 3, 4, [5, 49, 7]]

In [81]:
normal_set = set(["a", "b","c"])

TypeError: 'list' object is not callable

In [82]:
set

['a', 'b', 'c', 'd', 'e']

In [76]:
list1=['a','b','c']

In [77]:
list1

['a', 'b', 'c']

In [89]:
sets={'a','b','c','a'}

In [96]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])

TypeError: 'list' object is not callable

In [94]:
sets=set('abrakadabra')

TypeError: 'list' object is not callable

In [19]:
a=['mumbai','delhi','bangalore']

In [13]:
b=a.pop()

In [9]:
a.remove('delhi')

In [7]:
b

'bangalore'

In [10]:
a

['mumbai']

In [20]:
sorted(a)

['bangalore', 'delhi', 'mumbai']

In [17]:
a.sort()

In [21]:
a

['mumbai', 'delhi', 'bangalore']

In [1]:
a=[1,2,3,4]

In [3]:
x=a.remove(2)

In [5]:
y=a.pop()

In [6]:
y

4

In [8]:
a=10
if a<0:
    print('a is -ve')
elif a>0:
    print('a is +ve')
else:
    print(' a is zero')

a is +ve

In [12]:
n=5
fact=1
i=1
while i<=5:
    fact=fact*i
    i=i+1
print('factorial: ', fact)

factorial:  120

In [15]:
n=5
fact=1
i=1
while i<=5:
    fact=fact*i
    i=i+1
print('factorial: ', fact)

factorial:  120

In [16]:
print('hello')

hello

In [17]:
int=3
float=6.5
char='sru'
strin='hello world'

print(int,type(int))
print(float,type(float))
print(char,type(char))
print(strin,type(strin))

3 <class 'int'>
6.5 <class 'float'>
sru <class 'str'>
hello world <class 'str'>

In [19]:
a=49
b=35
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

84
14
1715
1.4
14

In [6]:
number=int(input('Enter a number: '))

print(number,type(number))
print('square of a number is: ', number**2)

Enter a number: 10
10 <class 'int'>
square of a number is:  100

In [3]:
import math

In [7]:
print(number)

10

In [9]:
marks=[35,40,50,90,100]

In [15]:
print('marks[0]: %d'% marks[0])

marks[0]: 35

In [18]:
marks[len(marks)-1]

100

In [19]:
marks[-1]

100

In [20]:
marks[-1]=90

In [21]:
marks

[35, 40, 50, 90, 90]

In [22]:
marks[:]

[35, 40, 50, 90, 90]

In [23]:
marks[0:5]

[35, 40, 50, 90, 90]

In [24]:
marks[0:4]

[35, 40, 50, 90]

In [25]:
marks[0:]

[35, 40, 50, 90, 90]

In [26]:
marks[:5]

[35, 40, 50, 90, 90]

In [27]:
marks[2:4]

[50, 90]

In [37]:
marks.append([94,96])

In [31]:
marks

[35, 40, 50, 90, 90, 91, 91, 91]

In [35]:
marks.extend([100,101])

In [38]:
marks

[35, 40, 50, 90, 90, 91, 91, 91, 100, 100, 101, [94, 96]]

In [39]:
marks.insert(1,2)

In [40]:
marks

[35, 2, 40, 50, 90, 90, 91, 91, 91, 100, 100, 101, [94, 96]]

In [41]:
marks.insert(12,20)

In [42]:
marks

[35, 2, 40, 50, 90, 90, 91, 91, 91, 100, 100, 101, 20, [94, 96]]

In [43]:
marks.remove(100)

In [44]:
marks

[35, 2, 40, 50, 90, 90, 91, 91, 91, 100, 101, 20, [94, 96]]

In [45]:
print(sorted(marks))

TypeError: '<' not supported between instances of 'list' and 'int'

In [46]:
marks1=marks[0:6]

In [47]:
marks1

[35, 2, 40, 50, 90, 90]

In [48]:
print(sorted(marks1))

[2, 35, 40, 50, 90, 90]

In [49]:
marks1

[35, 2, 40, 50, 90, 90]

In [50]:
marks1.sort()

In [51]:
marks1

[2, 35, 40, 50, 90, 90]

In [53]:
pass_mark=50
marks_new=[mark for mark in marks1 if mark>pass_mark]

In [54]:
marks_new

[90, 90]

In [57]:
tuple1=(30,40,50,60,9)

In [59]:
tuple1.count(tuple1)

0

In [61]:
cities={'hyd','bombay','goa','bangalore','hyd'}

In [62]:
cities

{'bangalore', 'bombay', 'goa', 'hyd'}

In [63]:
a={1,2,3,4}
b={4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

In [64]:
print(a&b)

{4}

In [65]:
print(a-b)

{1, 2, 3}

In [66]:
print(b-a)

{5, 6}

In [67]:
print(a^b)

{1, 2, 3, 5, 6}

In [68]:
a.add(10)

In [69]:
a

{1, 2, 3, 4, 10}

In [70]:
dict={'name':'srujana','college':'NJIT'}

In [71]:
dict['name']

'srujana'

In [74]:
for key,value in dict.items():
    print(key,value)

name srujana
college NJIT

In [75]:
string='SRUJAna'

In [76]:
string.capitalize()

'Srujana'

In [77]:
string.casefold()

'srujana'

In [82]:
string.endswith('a')

True

In [83]:
string.expandtabs()

'SRUJAna'

In [87]:
string.islower()

False

In [91]:
list(string)

['S', 'R', 'U', 'J', 'A', 'n', 'a']

In [92]:
sent='I love My Family'
sent.split(' ')

['I', 'love', 'My', 'Family']

In [93]:
sent.lower()

'i love my family'

In [94]:
sent.upper()

'I LOVE MY FAMILY'

In [95]:
sent[1]

' '

In [96]:
sent[0:5]

'I lov'

In [100]:
def greet(name=''):
    print('Hello ' + name)

In [101]:
greet('srujana')

Hello srujana

In [ ]:
import numpy as np