In [15]:
import pyodbc
import pandas as pd
from pandas import DataFrame

In [65]:
conn=pyodbc.connect('DRIVER={SQL Server};SERVER=SRUJANA\SQLEXPRESS;Database=DB_SOURCE;Trusted_Connection=yes;')
cursor=conn.cursor()

In [40]:
cursor.execute("SELECT * FROM dbo.EmployeeDetails")
for row in cursor:
    print('row=%r'%(row,))

row=(1, 'Adam', 'm', 'china')
row=(2, 'Luke', 'm', 'china')
row=(3, 'VINK', 'm', 'india')
row=(4, 'JEN', 'm', 'INDIA')
row=(5, 'JOHY', 'm', 'INDIA')
row=(6, 'JEFF', 'm', 'India')
row=(7, 'Femina', 'm', 'India')
row=(8, 'Sheetal', 'm', 'INDIA')
row=(9, 'John M', 'f', 'INDIA')
row=(10, 'Sheetal2', 'm', 'INDIA')
row=(11, 'RAMESH', 'f', 'China')
row=(12, 'SRUJANA', 'F', 'INDIA')

In [37]:
cursor.execute("SET datefirst 2;SELECT DISTINCT Total_Sales,Total_Quantity_Sold,Total_Profit,Week_Number,Store_id,cat_name from(SELECT SUM(SALES) AS Total_Sales,SUM(UNITS) AS Total_Quantity_Sold,SUM(SALES)-SUM(COGS) as Total_Profit, DATEPART(WEEK,TIME_STAMP) AS Week_Number FROM Order_Detail A, Product_Detail B where A.PRODUCT = B.PRODUCT GROUP BY DATEPART(WEEK,TIME_STAMP)) A, Order_Detail X, Product_Detail Y WHERE X.product=y.product ORDER BY Week_Number")
field_names = [i[0] for i in cursor.description]
get_data = [xx for xx in cursor]

In [38]:
df=DataFrame(get_data)

In [49]:
df={}
cursor.execute("SET datefirst 2;SELECT DISTINCT Total_Sales,Total_Quantity_Sold,Total_Profit,Week_Number,Store_id,cat_name from(SELECT SUM(SALES) AS Total_Sales,SUM(UNITS) AS Total_Quantity_Sold,SUM(SALES)-SUM(COGS) as Total_Profit, DATEPART(WEEK,TIME_STAMP) AS Week_Number FROM Order_Detail A, Product_Detail B where A.PRODUCT = B.PRODUCT GROUP BY DATEPART(WEEK,TIME_STAMP)) A, Order_Detail X, Product_Detail Y WHERE X.product=y.product ORDER BY Week_Number")
for row in cursor:
    print(row)

(Decimal('132.98'), 4, Decimal('56.98'), 36, 1, 'WidgetC')
(Decimal('132.98'), 4, Decimal('56.98'), 36, 1, 'WidgetE')
(Decimal('132.98'), 4, Decimal('56.98'), 36, 2, 'WidgetA')
(Decimal('132.98'), 4, Decimal('56.98'), 36, 2, 'WidgetD')
(Decimal('132.98'), 4, Decimal('56.98'), 36, 3, 'WidgetA')
(Decimal('132.98'), 4, Decimal('56.98'), 36, 3, 'WidgetB')
(Decimal('58.96'), 19, Decimal('18.98'), 37, 1, 'WidgetC')
(Decimal('58.96'), 19, Decimal('18.98'), 37, 1, 'WidgetE')
(Decimal('58.96'), 19, Decimal('18.98'), 37, 2, 'WidgetA')
(Decimal('58.96'), 19, Decimal('18.98'), 37, 2, 'WidgetD')
(Decimal('58.96'), 19, Decimal('18.98'), 37, 3, 'WidgetA')
(Decimal('58.96'), 19, Decimal('18.98'), 37, 3, 'WidgetB')
(Decimal('199.99'), 1, Decimal('124.99'), 40, 1, 'WidgetC')
(Decimal('199.99'), 1, Decimal('124.99'), 40, 1, 'WidgetE')
(Decimal('199.99'), 1, Decimal('124.99'), 40, 2, 'WidgetA')
(Decimal('199.99'), 1, Decimal('124.99'), 40, 2, 'WidgetD')
(Decimal('199.99'), 1, Decimal('124.99'), 40, 3, 'WidgetA')
(Decimal('199.99'), 1, Decimal('124.99'), 40, 3, 'WidgetB')

In [63]:
len(sql_data.columns)

1

In [71]:
cursor=conn.cursor()
cursor.execute("SET datefirst 2;SELECT DISTINCT Total_Sales,Total_Quantity_Sold,Total_Profit,Week_Number,Store_id,cat_name from(SELECT SUM(SALES) AS Total_Sales,SUM(UNITS) AS Total_Quantity_Sold,SUM(SALES)-SUM(COGS) as Total_Profit, DATEPART(WEEK,TIME_STAMP) AS Week_Number FROM Order_Detail A, Product_Detail B where A.PRODUCT = B.PRODUCT GROUP BY DATEPART(WEEK,TIME_STAMP)) A, Order_Detail X, Product_Detail Y WHERE X.product=y.product ORDER BY Week_Number")
sql_data = pd.DataFrame(cursor.fetchall())
#sql_data.columns = cursor.column_names




# Show the data
print(sql_data.head())

                                    0
0  [132.98, 4, 56.98, 36, 1, WidgetC]
1  [132.98, 4, 56.98, 36, 1, WidgetE]
2  [132.98, 4, 56.98, 36, 2, WidgetA]
3  [132.98, 4, 56.98, 36, 2, WidgetD]
4  [132.98, 4, 56.98, 36, 3, WidgetA]

In [86]:
field_names=[i[0] for i in cursor.description]
field_names

['Total_Sales',
 'Total_Quantity_Sold',
 'Total_Profit',
 'Week_Number',
 'Store_id',
 'cat_name']

In [88]:
foo = lambda x: pd.Series([i for i in sql_data(x.split(','))])

TypeError: unhashable type: 'list'

In [93]:
type(sql_data)

pandas.core.frame.DataFrame